<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cache.Fody" version="1.0.10" targetFramework="net472" />
  <package id="Equals.Fody" version="4.0.2" targetFramework="net472" />
  <package id="Fody" version="6.6.3" targetFramework="net472" developmentDependency="true" />
  <package id="FodyPackaging" version="2.3.20" targetFramework="net472" />
  <package id="SexyProxy" version="2.0.113" targetFramework="net472" />
  <package id="SexyProxy.Fody" version="2.0.113" targetFramework="net472" />
  <package id="ToString.Fody" version="1.11.1" targetFramework="net472" />
</packages>